<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create User</legend>
			<table>
				
					
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><input type="text" name="phone"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="Password" name="Password"></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="text" name="gender"></td>
				</tr>

				<tr>
					<td>City</td>
					<td><input type="text" name="city"></td>
				</tr>
				
				
				
				<tr>
					<td>Full  Name</td>
					<td><input type="text" name="fullname"></td>
				</tr>
				<tr>
					<td>Department</td>
					<td><input type="text" name="department"></td>
				</tr>
				<tr>
					<td>CGPA</td>
					<td><input type="text" name="cgpa"></td>
				</tr>
				<tr>
					<td>DOB</td>
					<td><input type="date" name="dob"></td>
				</tr>
				<tr>
					<td>Addmission Date</td>
					<td><input type="date" name="addmissiondate"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Create"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>