<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<ul class="navbar-nav mr-auto">
    <li><a class="navbar-brand" href="/home">University Management</a></li>
    <div class="hidden-sm-down horizontal-box" style="max-width:50%;width:120px;display:inline-flex">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore
      </button>
            <div id="drop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile">My Profile</a>
                <a class="dropdown-item" href="/course/mycourse">My Courses</a>
                <a class="dropdown-item" href="/course">All Courses</a>
                <a class="dropdown-item" href="#">Ban Student</a>
            </div>
        </div>
    </div>


    <input id="search" type="text" placeholder="Enter Student Credential" name="search" style="max-width:40%;width:650px;display:inline-flex">
    <button id="btnSearch" type="button"><i class="fa fa-search"></i></button>


</ul>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li id="btnLogin" class="nav-item">
            <!-- <a class="btn btn-warning" href="#">Log In</a> -->
            <a class="btn btn-warning" href="/logout">Sign Out</a>
        </li>
    </ul>
</div>
<script>
    $('#btnSearch').click(function(event) {
        window.location.href = '../search/' + document.getElementById("search").value;
    });
</script>