<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Course </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
	<form method="post">
		<fieldset>
			<legend>Add Course</legend>
			<table>
				<tr>
					<td>Course Name</td>
					<td><input type="text" name="coursename"></td>
				</tr>
				<tr>
					<td>Course Cost</td>
					<td><input type="text" name="coursecost"></td>
				</tr>
				<tr>
					<td>Course Status</td>
					<td><input type="text" name="coursestatus"></td>
				</tr>

				<tr>
					<td>Capacity</td>
					<td><input type="text" name="capacity"></td>
				</tr>
				<tr>
					<td>Course Section</td>
					<td><input type="text" name="section"></td>
				</tr>
				<tr>
					<td>Course Start Time</td>
					<td><input type="Time" name="starttime"></td>
				</tr>

				<tr>
					<td>Course End Time</td>
					<td><input type="Time" name="endtime"></td>
				</tr>


				

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="ADD"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>